

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

#board{
	width:1500px;
	max-width:100%;
	height:500px;
	border-radius:10px;
}
#heading{
	max-width:768px;
	line-height:1.625;
	font-weight:900;
	font-size:70px;
	font-family:"Poppins",sans-serif;
	text-align:right;

}
#subheading{
	max-width:900px;
	font-weight:300;
	font-size:30px;
	font-family:"Poppins",sans-serif;
	text-align:right;


}
